

#studentdata{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 25%;
    padding: 25px 50px 25px 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
}
#studentdata h1{
    margin: auto;
}
#studentdata input{
    height: 35px;
    border-radius: 5px;
    width: 100%;
}
#studentdata #submit{
    width: 150px;
    color: white;
    background-color: rgb(8, 19, 120);
    cursor: pointer;
    border: 0px;
    margin: auto;
    margin-top: 25px;
}

#navbar{
     margin-bottom: 25px;
}

button a{
    text-decoration: none;
    color: black;
}



